---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        {{ post.excerpt }}
        {% if post.content contains '<!-- more -->' %}
        <p><a href="{{ post.url }}">Read more »</a></p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

</div>
