<footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-1 column">
      <ul>
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        {% if site.author.github %}<li>
          <a href="https://github.com/{{ site.author.github }}">
            <span class="icon github">
            </span>
            <span class="username">{{ site.author.github }}</span>
          </a>
        </li>{% endif %}
      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div>

  </div>

</footer>
