<! -- header.html -->
<meta charset="utf-8">
<title>{{ site.title }}</title>
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
<meta name="author" content="{{ site.author.name }}">

<!-- Enable responsive viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Le styles -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/font-awesome.css" rel="stylesheet">
<link href="/css/syntax.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">

<link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="/atom.xml">
<! -- header.html end -->
