<! -- sidebar.html -->
<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<img src="/images/gravatar.jpg" class="img-circle" />
	</a>
	<h3 class="title">
    <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
  </h3>
</header>

<div id="bio" class="text-center">
	{{ site.author.bio }}
</div>

<div id="contact-list" class="text-center">
	<ul class="list-unstyled list-inline">
		<li>
			<a class="btn btn-default btn-sm" href="https://github.com/{{ site.author.github }}">
				<i class="fa fa-github-alt fa-lg"></i>
			</a>
		</li>
		<li>
			<a class="btn btn-default btn-sm" href="http://weibo.com/{{ site.author.weibo }}">
				<i class="fa fa-weibo fa-lg"></i>
			</a>
		</li>
		<li>
			<a class="btn btn-default btn-sm" href="mailto:{{ site.author.email }}">
				<i class="fa fa-envelope fa-lg"></i>
			</a>
		</li>
    <li>
      <a class="btn btn-default btn-sm" href="{{ site.BASE_PATH }}/{{ site.rss_path }}">
        <i class="fa fa-rss fa-lg"></i>
      </a>
    </li>
  </ul>
</div>

<! -- sidebar.html end -->
